.greeting {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  &__bg {
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(60%)
  }

  &__text-block {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
    max-width: 557px;
    transform: translateY(-50%);
    & > h1 {
      font-size: 96px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;

      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
      & > span {
        color: white;
      }
    }

    & > h1._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }


    & > h1, h2 {
      text-align: right;
      color: white;
    }

    & > h2 {
      color: rgba(255, 255, 255, 0.60);
      font-size: 24px;
      font-weight: 400;
      line-height: 110%;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.4s;
    }

    & > h2._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}