.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__logo {
    height: 170px;
    opacity: .75;
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    & > li > a {
      color: white;
    }
    & > li:not(:last-child) {
      padding-right: 22px;
    }
  }
}